/* 1 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

/* 2 */
:root {
    --none: none;
    --size: 28px;
    --uppercase: uppercase;
    --color-ACACAC: #ACACAC;
    --color-B2B2B2: #B2B2B2;
    --color-C5C5C5: #C5C5C5;
    --color-C6C6C6: #C6C6C6;
    --color-FFFFFF: #FFFFFF;
    --color-FCFCFC: #FCFCFC;
    --color-151515: #151515;
    --color-242424: #242424;
    --color-5FDDE5: #5FDDE5;
    --color-5fdce541: #5fdce541;
    --font-size-28px: var(--size);
    --text-decoration-none: var(--none);
    --text-transform-uppercase: var(--uppercase);
}

/* 
    # mobile first 
*/

/* 3 */
.c-body,
.c-body__success-page {
    background-color: var(--color-151515);
}

/* 4 */
a {
    text-decoration: var(--text-decoration-none);
}

/* 5 */
nav i {
    color: var(--color-FCFCFC);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

/* 6 */
.c-body__header {
    color: var(--color-FFFFFF);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* 7 */
.c-body__section-about {
    color: var(--color-FCFCFC);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;    
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

/* 8 */
.c-body__section-about h3 {
    font-size: var(--font-size-28px);
}

/* 5 */
.c-body__section-about h2,
.c-body__contact h2 {
    font-size: var(--font-size-28px);
    margin-bottom: 20px;
}

/* 9 */
.c-body__section-about h2 span,
.c-body__section-skills h2 span,
.c-section-projects__heading h2 span,
.c-body__section-contact h2 span,
.c-body__emphasis {
    border-bottom: 2px solid var(--color-5fdce541);
}

/* 10 */
.c-body__section-about p {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* 11 */
.c-body__section-about img {
    width: 40%;
    height: auto;
    border-radius: 3px; 
    opacity: 0.7;
}

/* 12 */
.c-body__emphasis {
    color: var(--color-FFFFFF);
    font-weight: 600;
    text-decoration: none;    
    padding-top: 15px;
    padding-bottom: 15px;
}

/* 13 */
.c-body__emphasis--hover:hover {
    color: var(--color-C6C6C6);
    border-bottom-color: 1px solid var(--color-FFFFFF);
    transition: all .4s;
    transform: scale(1.1);
}

/* 10 */
.c-body__hr {
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
}

/* 6 */
.c-body__section-skills {
    color: var(--color-FFFFFF);
    text-align: left;
    margin-right: 18px;
    margin-bottom: 40px;
    margin-left: 18px;
}

/* 14 */
.c-section-skills__box {
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* 10 */
.c-section-skills__box i {
    margin-top: 14px;
    margin-right: 10px;
    margin-bottom: 14px;
    margin-left: 10px;
}

/* 15 */
.c-body__section-skills h2 {
    font-size: var(--font-size-28px);
    text-transform: var(--text-transform-uppercase);
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 40px;
    margin-left: 5px;
}

/* 8 */
.c-section-skills__text h3 {
  font-size: var(--font-size-28px);
}

/* 16 */
.c-section-skills__text p {
    color: var(--color-B2B2B2);
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}

/* 14 */
.c-section-projects__heading,
.c-section-projects__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-right: 18px;
    margin-bottom: 35px;
    margin-left: 18px;
}

/* 17 */
.c-section-projects__heading h2 {
    color: var(--color-FFFFFF);
    font-size: var(--font-size-28px);
    text-transform: var(--text-transform-uppercase);
}

/* 18 */
.c-section-projects__box {
    text-align: center;
}

/* 19 */
.c-section-projects__box img {
    width: 90%;
    height: auto;    
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 0;
    margin-left: 20px;
    order: 1;
}

/* 14 */
.c-section-projects__text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

/* 18 */
.c-section-projects__text div {
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
}

/* 20 */
.c-section-projects__text div span {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding: 10px;
}

/* 16 */
.c-section-projects__text h4 {
    color: var(--color-FFFFFF);
    font-size: 25px;
    margin-bottom: 10px;
}

/* 16 */
.c-section-projects__text span {
    color: var(--color-C5C5C5);
    font-size: 20px;
    margin-right: 20px;
}

/* 21 */
.c-body__section-contact {
    background-color: var(--color-242424) !important;
    color: var(--color-FFFFFF);
    padding-top: 35px;
    padding-right: 20px;
    padding-bottom: 20%;
    padding-left: 20px;
    text-align: center;
}

/* 22 */
.c-body__section-contact p {
    color: var(--color-ACACAC);
    font-size: 16px;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;

}

/* 23 */
.c-section-contact__input--focus:focus {
    outline: none;
}

/* 24 */
.c-body__section-contact input {
    border-bottom: 2px solid var(--color-FFFFFF);
    color: var(--color-FFFFFF);
    width: 95%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;    
    font-size: 16px;
}

/* 25 */
.c-body__section-contact__input--placeholder input::placeholder {
    text-transform: var(--text-transform-uppercase);
}

/* 26 */
button.c-body__emphasis {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--color-5fdce541);
    float: right;
    cursor: pointer;
    margin: 20px;
}

/* 27 */
.c-body__footer {
    color: var(--color-FFFFFF);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

/* 28 */
.c-body__footer nav a i,
.c-body__header nav a i {
    transition: .4s;
}

/* 29 */
.c-body__footer nav a i:hover,
.c-body__header nav a i:hover {
    color: var(--color-5fdce541);
}

/* 30 */
.c-body__success-page {
    color: var(--color-FFFFFF);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 31 */
.c-success-page__main {
    max-width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-5fdce541);
}

/* 27 */
.c-success-page__main h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

/* 32 */
.c-success-page__main h2 {
    font-size: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: center;
}

/* 33 */
.c-success-page__main a {
    color: var(--color-ACACAC);
    font-size: 15px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid transparent;
    border-bottom-color: 1px solid var(--color-5fdce541);
    border-right-color: 1px solid var(--color-5fdce541);
    transition: .6s;
}

/* 34 */
.c-success-page__a--hover:hover { 
    color: var(--color-5FDDE5);
    border: 1px solid transparent;
    border-top-color: 1px solid var(--color-5FDDE5);
    border-left-color: 1px solid var(--color-5FDDE5);
    transform: scale(1.1);
}

/* 
    # tablet screen 
*/
@media screen and (max-width: 768px) {
    /* 19 */
    img {
        width: 70%;
        height: auto;
        order: -1;
        margin-bottom: 20px;       
    }   
    
    /* 35 */
    .c-body__section-about div {
        flex: 1;
    }
}

/* 
    # desktop screen 
*/
@media screen and (min-width: 1024px) { 
    /* 36 */
    nav {
        z-index: 10;
        margin-left: 480px;
    }

    /* 37 */
    .c-body__header, 
    .c-body__section-about, 
    .c-body__section-skills,
    .c-body__section-projects,
    .c-section-contact__container {
        max-width: 1000px;
        margin-top: 0;       
        margin-right: auto;       
        margin-bottom: 0;       
        margin-left: auto;       
    }

    /* 18 */
    .c-body__header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    /* 38 */
    .c-body__section-about {
        justify-content: space-between;
        flex-direction: row;
        position: relative;
    }

    /* 8 */
    .c-body__section-about h3 {
        font-size: 40px;
    }

    /* 8 */
    .c-body__section-about h2 {
        font-size: 50px;
    }

    /* 39 */
    .c-body__section-about img {
        position: relative;
        top: -80px;
    }

    /* 18 */
    .c-section-about__box {
        text-align: left;
    }

    /* 10 */
    .c-body__hr {
        margin-top: 30px;       
        margin-right: 5%;       
        margin-bottom: 30px;       
        margin-left: 5%;       
    }

    /* 18 */
    .c-section-skills__box-one {
        display: flex;
        justify-content: space-evenly;
    }

    /* 10 */
    .c-section-projects__heading,
    .c-section-projects__link {
        margin-top: 10px;       
        margin-right: 18px;       
        margin-bottom: 35px;       
        margin-left: 18px;       
    }

    /* 18 */
    .c-section-projects__two-projects {
        display: flex;
        justify-content: space-around;
    }
    
    /* 40 */
    .c-section-projects__box img {
        width: 450px;
        height: 400px;
        margin-top: 0;       
        margin-right: auto;       
        margin-bottom: 0;       
        margin-left: auto;       
    }

    /* 41 */
    .c-section-projects__text {
        width: 100%;
        display: flex;
        text-align: center;
        flex-direction: column;
        margin-top: 20px;     
        margin-right: 20px;      
        margin-bottom: 20px;     
        margin-left: 20px;      
    }

    /* 20 */
    .c-section-contact__container {
        display: flex;
        justify-content: space-around;
        padding-top: 10px;     
        padding-bottom: 10px;     
    }

    /* 42 */
    .c-body__section-contact {
        color: var(--color-FFFFFF);
        text-align: left;
        padding-top: 35px;     
        padding-right: 20px;     
        padding-bottom: 35px;     
        padding-left: 20px;     
    }

    /* 16 */
    .c-body__section-contact p {
        color: var(--color-ACACAC);
        font-size: 16px;
        margin-bottom: 20px;     
    }

    /* 43 */
    .c-section-contact__form {
        width: 40%;
    }

    /* 10 */
    .c-body__footer nav {
        margin-left: 0;
    }
}