* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #151515;
}

header {
    color: #FFFFFF;
    text-align: center;
    margin: 30px 0;
    font-family: 'Young Serif', serif; /* IMPORTAR */
}

nav i {
    color: #FCFCFC;
    margin: 30px 20px;
}

.section-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    text-align: center;
    color: #FCFCFC;
    font-family: 'Poppins', sans-serif; /* IMPORTAR */
    padding: 0 20px;
}

.section-about img {
    border: 1px soli red;
}

.section-about div {
    flex: 1;
}

.section-about h3 {
    font-size: 28px;
}

.section-about h2 {
    font-size: 28px;
    margin: 0 0 20px;
}

.section-about h2 span,
.skills-box h2 span,
.cta-contatct {
    border-bottom: 2px solid #5FDDE5;
}

.section-about p {
    margin: 15px 0;
}

.cta-contatct {
    color: #FFFFFF;
    font-weight: 600;
    text-decoration: none;
}

hr {
    margin: 50px 20px;
}

.skills-box {
    color: #FFFFFF;
    text-align: left;
}

.box {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 20px 0;
}

.box i {
    margin: 14px 10px;
}

.skills-box h2 {
    font-size: 28px;
    margin: 0 18px 35px;
    text-transform: uppercase;
}

.box-text h3 {
  font-size: 28px;
}

.box-text p {
  font-size: 20px;
  margin: 18px 0;
  color: #B2B2B2;
}

@media screen and (max-width: 768px) {
    img {
        width: 70%;
        height: auto;
        order: -1;
        margin: 0 0 20px;
        border: 1px soli red;
    }   
}