* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

:root {
    --color_ACACAC: #ACACAC;
    --color_B2B2B2: #B2B2B2;
    --color_C5C5C5: #C5C5C5;
    --color_C6C6C6: #C6C6C6;
    --color_FFFFFF: #FFFFFF;
    --color_FCFCFC: #FCFCFC;
    --color_151515: #151515;
    --color_5FDDE5: #5FDDE5;
    --color_242424: #242424;
    --font_28px: 28px;
}

body {
    background-color: #151515;
    background-color: var(--color_151515);
}

header {
    color: var(--color_FFFFFF);
    text-align: center;
    margin: 30px 0;
}

nav i {
    color: var(--color_FCFCFC);
    margin: 30px 20px;
}

.section-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    text-align: center;
    color: var(--color_FCFCFC);
    padding: 0 20px;
}

.section-about div {
    flex: 1;
}

.section-about h3 {
    font-size: var(--font_28px);
}

.section-about h2,
.contact h2 {
    font-size: var(--font_28px);
    margin: 0 0 20px;
}

.section-about h2 span,
.skills-box h2 span,
.projects h2 span,
.contact h2 span,
.cta-contact {
    border-bottom: 2px solid var(--color_5FDDE5);
}

.section-about p {
    margin: 15px 0;
}

.cta-contact {
    color: var(--color_FFFFFF);
    font-weight: 600;
    text-decoration: none;
    padding: 15px 0;
}

.cta-contact:hover {
    color: var(--color_C6C6C6);
    transform: scale(1.1);
    transition: all 0.6s;
}

hr {
    margin: 50px 20px;
}

.skills-box {
    color: var(--color_FFFFFF);
    text-align: left;
    margin: 0 18px 40px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 20px 0;
}

.box i {
    margin: 14px 10px;
}

.skills-box h2 {
    font-size: var(--font_28px);
    margin: 0 18px 35px;
    text-transform: uppercase;
}

.box-text h3 {
  font-size: var(--font_28px);
}

.box-text p {
  font-size: 20px;
  margin: 8px 0;
  color: var(--color_B2B2B2);
}

.projects,
.box-projects-links {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 40px;
    align-items: center;
}

.projects h2 {
    color: var(--color_FFFFFF);
    font-size: var(--font_28px);
    text-transform: uppercase;
}

.box-projects img {
    width: 90%;
    height: auto;
    margin: 0 20px;
    border-radius: 5px;
    order: 1;
}

.box-projects-text {
    text-align: left;
    margin: 20px 20px 40px;
}

.box-projects-text h4 {
    color: var(--color_FFFFFF);
    font-size: 25px;
    margin-bottom: 10px;
}

.box-projects-text span {
    color: var(--color_C5C5C5);
    font-size: 20px;
    margin-right: 20px;
}

.contact {
    background-color: var(--color_242424) !important;
    padding: 35px 20px;
    text-align: center;
    color: var(--color_FFFFFF);
}

.contact p {
    color: var(--color_ACACAC);
    font-size: 16px;
    margin: 0 0 20px;
}

@media screen and (max-width: 768px) {
    img {
        width: 70%;
        height: auto;
        order: -1;
        margin: 0 0 20px;
    }   
}