* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

:root {
    --color-ACACAC: #ACACAC;
    --color-B2B2B2: #B2B2B2;
    --color-C5C5C5: #C5C5C5;
    --color-C6C6C6: #C6C6C6;
    --color-FFFFFF: #FFFFFF;
    --color-FCFCFC: #FCFCFC;
    --color-151515: #151515;
    --color-5FDDE5: #5FDDE5;
    --color-242424: #242424;
    --font_28px: 28px;
}

/* mobile */

.body {
    background-color: var(--color-151515);
}

a {
    text-decoration: none;
}

.body__header {
    color: var(--color-FFFFFF);
    text-align: center;
    margin: 30px 0;
}

nav i {
    color: var(--color-FCFCFC);
    margin: 30px 20px;
}

.body__section-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    text-align: center;
    color: var(--color-FCFCFC);
    padding: 0 20px;
}

.body__section-about h3 {
    font-size: var(--font_28px);
}

.body__section-about h2,
.contact h2 {
    font-size: var(--font_28px);
    margin: 0 0 20px;
}

.body__section-about h2 span,
.body__section-skills h2 span,
.projects h2 span,
.contact h2 span,
.cta-contact {
    border-bottom: 2px solid var(--color-5FDDE5);
}

.body__section-about p {
    margin: 15px 0;
}

.body__section-about img {
    width: 40%;
    height: auto;
    border-radius: 3px; 
    opacity: 0.7;
}

.cta-contact {
    color: var(--color-FFFFFF);
    font-weight: 600;
    text-decoration: none;
    padding: 15px 0;
}

.cta-contact:hover {
    color: var(--color-C6C6C6);
    transform: scale(1.1);
    transition: all 0.2s;
}

.f {
    margin: 50px 20px;
}

.body__section-skills {
    color: var(--color-FFFFFF);
    text-align: left;
    margin: 0 18px 40px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 20px 0;
}

.box i {
    margin: 14px 10px;
}

.body__section-skills h2 {
    font-size: var(--font_28px);
    text-transform: uppercase;
    margin: 0 5px 40px;
}

.box-text h3 {
  font-size: var(--font_28px);
}

.box-text p {
  font-size: 20px;
  margin: 8px 0;
  color: var(--color-B2B2B2);
}

.projects,
.box-projects-links {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 35px;
    align-items: center;
}

.projects h2 {
    color: var(--color-FFFFFF);
    font-size: var(--font_28px);
    text-transform: uppercase;
}

.box-projects {
    text-align: center;
}

.box-projects img {
    width: 90%;
    height: auto;
    margin: 0 20px;
    border-radius: 5px;
    order: 1;
}

.box-projects-text {
    text-align: left;
    margin: 20px 20px 40px;
}

.box-projects-text h4 {
    color: var(--color-FFFFFF);
    font-size: 25px;
    margin-bottom: 10px;
}

.box-projects-text span {
    color: var(--color-C5C5C5);
    font-size: 20px;
    margin-right: 20px;
}

.body__section-contact {
    background-color: var(--color-242424) !important;
    padding: 35px 20px 30%;
    text-align: center;
    color: var(--color-FFFFFF);
}

.body__section-contact p {
    color: var(--color-ACACAC);
    font-size: 16px;
    margin: 0 0 20px;
}

.body__section-contact input {
    width: 95%;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--color-FFFFFF);
    margin: 10px 0;
    color: var(--color-FFFFFF);
    font-size: 16px;
}

.body__section-contact input::placeholder {
    text-transform: uppercase;
}

textarea:focus, input:focus, select:focus {
    outline: none;
}

button.cta-contact {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--color-5FDDE5);
    float: right;
    cursor: pointer;
    margin: 20px;
}

footer {
    text-align: center;
    padding: 20px 0 40px;
    color: var(--color-FFFFFF);
}

footer nav a i,
.body__header nav a i {
    transition: .4s;
}

footer nav a i:hover,
.body__header nav a i:hover {
    color: var(--color-5FDDE5);
}

@media screen and (max-width: 768px) {
    img {
        width: 70%;
        height: auto;
        order: -1;
        margin: 0 0 20px;
    }   

    .body__section-about div {
        flex: 1;
    }
}

/* desktop */
@media screen and (min-width: 1024px) { 
    .body__header, 
    .body__section-about, 
    .body__section-skills,
    .body__section-projects,
    .contact-container {
        max-width: 1000px;
        margin: 0 auto;
    }

    .body__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        z-index: 10;
    }

    .body__section-about {
        justify-content: space-between;
        flex-direction: row;
        position: relative;
    }
    
    .section-about-box {
        text-align: left;
    }

    .body__section-about h3 {
        font-size: 40px;
    }

    .body__section-about h2 {
        font-size: 50px;
    }

    .body__section-about img {
        position: relative;
        top: -80px;
    }

    .body__hrf {
        margin: 30px 5%;
    }

    .skills-box-one {
        display: flex;
        justify-content: space-between;
    }

    .two-box-projects {
        display: flex;
        justify-content: space-around;
    }
    
    .box-projects img {
        width: 450px;
        height: 400px;
        margin: 0 auto;
    }

    .box-projects-text {
        text-align: center;
        margin: 20px 20px;
        width: 100%;
    }

    .contact-container {
        padding: 50px 0;
        display: flex;
        justify-content: space-around;
    }

    .body__section-contact {
        text-align: left;
        color: var(--color-FFFFFF);
        padding: 35px 20px;
    }

    .body__section-contact p {
        color: var(--color-ACACAC);
        font-size: 16px;
        margin: 0 0 20px;
    }

    form {
        width: 40%;
    }
}